<?xml version="1.0" ?>
<robot name="Webots robot">
    <webots>
        <!-- https://robotics.stackexchange.com/questions/24596/how-do-i-integrate-webots-sensor-plugins-into-a-ros2-urdf-xacro-file -->
        <device reference="top lidar" type="Lidar">
            <ros>
                <frameName>top lidar</frameName>
                <enabled>true</enabled>
                <scanRate>10</scanRate>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>

        <!-- <plugin type="third_webots_pkg.third_webots_driver.ThirdWebotsDriver" /> -->
        <plugin type="webots_ros2_control::Ros2Control" />
        
    </webots>

    <!-- 
    See robot TF configuration in robot_model.urdf
    Got that by updating wbt file and export Robot as a urdf
    -->

    <!-- ros2_control params based on: -->
    <!-- https://github.com/cyberbotics/webots_ros2/blob/master/webots_ros2_turtlebot/resource/turtlebot_webots.urdf -->
    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="right wheel motor">
            <state_interface name="position" /> <!-- still needed despite not having hall sensor-->
            <state_interface name="velocity"/>
            <command_interface name="velocity" />
        </joint>
        <joint name="left wheel motor">
            <state_interface name="position" />
            <state_interface name="velocity"/>
            <command_interface name="velocity" />
        </joint>
    </ros2_control>
</robot>
